/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  max-width: 100%;
  overflow-x: hidden;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure text areas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.hero {
  padding: 100px 0px;
  background: #254f1a;
}

.container {
  position: fixed;
  top: 7%;
  left: 2.5%;
  width: 95%;
  background: white;
  display: flex;
  align-items: center;
  /* margin: 50px auto; */
  padding: 12px 15px;
  border-radius: 80px;
  z-index: 1000;
  box-shadow: 0px 0px 10px 0px grey;
}

/* .container > * {
  border: 1px solid black;
} */

.container .logo {
  margin-left: 30px;
}

.container .logo img {
  height: 25px;
  width: 120px;
}

.container .main-menu {
  margin-left: 20px;
  width: 50%;
}

.container .main-menu ul {
  padding: 0px;
  display: flex;
  list-style-type: none;
  width: 100%;
  margin: auto;
}

.container .main-menu ul li {
  margin-right: 15px;
  font-size: 1rem;
  letter-spacing: -0.003rem;
}

.container .main-menu ul li a {
  text-decoration: none;
  color: grey;
  font-weight: 500;
  transition: background 0.9ms cubic-bezier(0.29, 1.01, 1, -0.68);
  padding: 10px;
}

.container .main-menu ul li a:hover {
  background: rgb(239, 240, 236);
  padding: 13px 10px;
  border-radius: 8px;
}

.container .buttons {
  margin-left: auto;
  border: none;
}

.container .buttons .btn {
  border: none;
  padding: 20px 23px;
  font-weight: 600;
}
.container .buttons .btn-1 {
  background: #f3f3f1;
  color: #1e2330;
  margin-right: 10px;
  border-radius: 10px;
}
.container .buttons .btn-2 {
  color: white;
  background: #212124;
  padding: 20px 28px;
  border-radius: 65px;
}
.container .buttons a {
  text-decoration: none;
}

.hero .hero-grid {
  width: 95%;
  margin: 100px auto;
  display: grid;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 0px;
}

.hero .hero-grid .heading-content {
  /* font-family: "Changa One", sans-serif; */
  color: #cce423;
}

.hero .hero-grid .heading-content .username-btn .username {
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.hero .hero-grid .heading-content .username-btn .claim-btn {
  border: none;
  padding: 20px 23px;
  font-weight: 500;
  color: #212124;
  background: #e3bbe3;
  padding: 20px 28px;
  border-radius: 65px;
  margin-left: 10px;
}

.hero .hero-grid .heading-content .username-btn {
  margin-top: 50px;
}

.hero .hero-grid .heading-content .heading-subtext {
  margin-top: 25px;
  margin-left: -20px;
  font-weight: 500;
  text-align: left;
  color: #cce423;
}

.hero .hero-grid .heading-content .main-heading {
  font-size: 4rem;
  letter-spacing: -0.2rem;
  line-height: 0.9;
  /* text-align: left; */
}

.hero .hero-grid .graphic {
  position: relative;
}
.hero .hero-grid .graphic img {
  height: 450px;
  width: 400px;
  position: absolute;
  left: -20px;
  transform: scale(1.3);
  z-index: 999999;
}

.hero-2 {
  padding: 100px 0px;
  background: #e9c0e9;
}

.hero-2 .hero-grid-2 {
  width: 95%;
  margin: 100px auto;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 0px;
}

.hero-2 .hero-grid-2 .heading-content-2 {
  /* font-family: "Changa One", sans-serif; */
  color: #502274;
}

.hero-2 .hero-grid-2 .heading-content-2 .username-btn-2 .username-2 {
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.hero-2 .hero-grid-2 .heading-content-2 .username-btn-2 .claim-btn-2 {
  border: none;
  padding: 20px 23px;
  font-weight: 500;
  color: white;
  background: #502274;
  padding: 20px 28px;
  border-radius: 65px;
  margin-left: 0px;
}

.hero-2 .hero-grid-2 .heading-content-2 .username-btn-2 {
  margin-top: 50px;
}

.hero-2 .hero-grid-2 .heading-content-2 .heading-subtext-2 {
  margin-top: 25px;
  font-weight: 500;
  text-align: left;
  margin-left: -20px;
  color: #502274;
}

.hero-2 .hero-grid-2 .heading-content-2 .main-heading-2 {
  font-size: 4rem;
  letter-spacing: -0.2rem;
  line-height: 0.9;
  /* text-align: left; */
}

.hero-2 .hero-grid-2 .graphic-2 {
  position: relative;
}
.hero-2 .hero-grid-2 .graphic-2 img {
  height: 450px;
  width: 400px;
  position: absolute;
  left: 30px;
  transform: scale(1.3);
  z-index: 99999;
}

.hero-3 {
  padding: 100px 0px;
  background: #780016;
}

.hero-3 .hero-grid-3 {
  width: 95%;
  margin: 100px auto;
  display: grid;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 0px;
}

.hero-3 .hero-grid-3 .heading-content-3 {
  /* font-family: "Changa One", sans-serif; */
  color: #e9c0e9;
}

.hero-3 .hero-grid-3 .heading-content-3 .username-btn-3 .username-3 {
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.hero-3 .hero-grid-3 .heading-content-3 .username-btn-3 .claim-btn-3 {
  border: none;
  padding: 20px 23px;
  font-weight: 500;
  color: white;
  background: #502274;
  padding: 20px 28px;
  border-radius: 65px;
  margin-left: 0px;
}

.hero-3 .hero-grid-3 .heading-content-3 .username-btn-3 {
  margin-top: 50px;
}

.hero-3 .hero-grid-3 .heading-content-3 .heading-subtext-3 {
  margin-top: 25px;
  font-weight: 500;
  text-align: left;
  margin-left: -20px;
  color: #e3bbe3;
}

.hero-3 .hero-grid-3 .heading-content-3 .main-heading-3 {
  font-size: 4rem;
  letter-spacing: -0.2rem;
  line-height: 0.9;
  /* text-align: left; */
}

.hero-3 .hero-grid-3 .graphic-3 {
  position: relative;
}
.hero-3 .hero-grid-3 .graphic-3 img {
  height: 450px;
  width: 400px;
  position: absolute;
  left: -30px;
  /* transform: scale(1.3) !important; */
  /* z-index: 99999; */
}

.hero-4 {
  padding: 100px 0px;
  background: #f3f3f1;
}

.hero-4 .hero-grid-4 {
  width: 95%;
  margin: 100px auto;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 0px;
}

.hero-4 .hero-grid-4 .heading-content-4 {
  /* font-family: "Changa One", sans-serif; */
  color: #1e2330;
}

.hero-4 .hero-grid-4 .heading-content-4 .username-btn-4 .username-4 {
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.hero-4 .hero-grid-4 .heading-content-4 .username-btn-4 .claim-btn-4 {
  border: none;
  padding: 20px 23px;
  font-weight: 500;
  color: white;
  background: #1e2330;
  padding: 20px 28px;
  border-radius: 65px;
  margin-left: 0px;
}

.hero-4 .hero-grid-4 .heading-content-4 .username-btn-4 {
  margin-top: 50px;
}

.hero-4 .hero-grid-4 .heading-content-4 .heading-subtext-4 {
  margin-top: 25px;
  font-weight: 500;
  text-align: left;
  margin-left: -20px;
  color: #212124;
}

.hero-4 .hero-grid-4 .heading-content-4 .main-heading-4 {
  font-size: 4rem;
  letter-spacing: -0.2rem;
  line-height: 0.9;
  /* text-align: left; */
}

.hero-4 .hero-grid-4 .graphic-4 {
  position: relative;
}
.hero-4 .hero-grid-4 .graphic-4 img {
  height: 450px;
  width: 400px;
  position: absolute;
  left: 30px;
  transform: scale(1.3);
  z-index: 99999;
}

.hero-5 {
  padding: 100px 0px;
  background: #cce423;
}

.hero-5 .hero-grid-5 {
  width: 95%;
  margin: 100px auto;
  display: grid;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 0px;
}

.hero-5 .hero-grid-5 .heading-content-5 {
  /* font-family: "Changa One", sans-serif; */
  color: #1e2330;
}

.hero-5 .hero-grid-5 .heading-content-5 .username-btn-5 .username-5 {
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.hero-5 .hero-grid-5 .heading-content-5 .username-btn-5 .claim-btn-5 {
  border: none;
  padding: 20px 23px;
  font-weight: 500;
  color: white;
  background: #1e2330;
  padding: 20px 28px;
  border-radius: 65px;
  margin-left: 0px;
}

.hero-5 .hero-grid-5 .heading-content-5 .username-btn-5 {
  margin-top: 50px;
}

.hero-5 .hero-grid-5 .heading-content-5 .heading-subtext-5 {
  margin-top: 25px;
  font-weight: 500;
  margin-left: -20px;
  color: #212124;
  text-align: left;
}

.hero-5 .hero-grid-5 .heading-content-5 .main-heading-5 {
  font-size: 4rem;
  letter-spacing: -0.2rem;
  line-height: 0.9;
  /* text-align: left; */
}

.hero-5 .hero-grid-5 .graphic-5 {
  position: relative;
}
.hero-5 .hero-grid-5 .graphic-5 img {
  height: 450px;
  width: 400px;
  position: relative;
  left: -50px;
  transform: scale(1.3);
  z-index: 99999;
}

.faq {
  padding: 100px;
  background: #780016;
  /* display: flex; */
}

.faq .faq-grid {
  padding: 100px 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 020px;
  margin-top: -50px;
}

.faq .faq-grid .box {
  background: #51000f;
  color: #e9c0e9;
  font-size: 1.5rem;
  font-weight: 600;
  /* padding: 30p 50px; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.faq .faq-grid .box h4 {
  margin-top: 0px;
  /* display: inline-block; */
  padding: 40px 30px;
}

.faq .faq-grid .box i {
  margin-right: 30px;
  margin-left: auto;
}

.faq .faq-heading {
  margin-left: 320px;
}

.faq .faq-heading .f-heading {
  color: #e3bbe3;
  font-size: 3.5rem;
  margin-left: 50px;
}

.hero-10 {
  padding: 100px;
  background: #2596be;
}

.hero-10 .footer-content {
  position: relative;
}

.hero-10 .footer-content .main-heading-10 {
  letter-spacing: -0.2rem;
  text-align: center;
  font-size: 3.3rem;
  color: white;
}

.hero-10 .footer-content .username-btn .username {
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.hero-10 .footer-content .username-btn .claim-btn {
  border: none;
  padding: 20px 23px;
  font-weight: 500;
  color: white;
  background: black;
  padding: 20px 28px;
  border-radius: 65px;
  margin-left: 10px;
}

.hero-10 .footer-content .username-btn {
  position: absolute;
  top: 180px;
  left: 30%;
}

.hero-10 footer .footer-container {
  background: white;
  border-radius: 25px;
  /* box-shadow: 4px 0px 8px 8px gray;  */
  margin-bottom: 100px;
}
.hero-10 footer .footer-container .footer-grid {
  margin-top: 250px;
  margin-left: 20px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.hero-10 footer .footer-container .footer-grid ul {
  color: gray;
  list-style-type: none;
  font-size: 0.9rem;
  line-height: 3;
}

.hero-10 footer .footer-container .footer-flex {
  /* position: fixed;
  top: 7%;
  left: 1.75%;
  width: 96.5%; */
  background: white;
  display: flex;
  align-items: center;
  /* margin: 50px auto; */
  padding: 12px 15px;
  border-radius: 80px;
  /* z-index: 1000; */
}

.hero-10 footer .footer-container .footer-flex .main-menu {
  margin-right: -180px;
  width: 50%;
}

.hero-10 footer .footer-container .footer-flex .main-menu ul {
  padding: 0px;
  display: flex;
  list-style-type: none;
  width: 100%;
  margin: auto;
}

.hero-10 footer .footer-container .footer-flex .main-menu ul li {
  margin-right: 15px;
  font-size: 1rem;
  letter-spacing: -0.003rem;
}

.hero-10 footer .footer-container .footer-flex .main-menu ul li a {
  text-decoration: none;
  color: grey;
  font-weight: 500;
  transition: background 0.9ms cubic-bezier(0.29, 1.01, 1, -0.68);
  padding: 10px;
}

.hero-10 footer .footer-container .footer-flex .main-menu ul li a:hover {
  background: rgb(239, 240, 236);
  padding: 13px 10px;
  border-radius: 8px;
}

.hero-10 footer .footer-container .footer-flex .buttons {
  margin-right: auto;
  border: none;
}

.hero-10 footer .footer-container .footer-flex .buttons .btn {
  border: none;
  padding: 20px 23px;
  font-weight: 600;
}
.hero-10 footer .footer-container .footer-flex .buttons .btn-1 {
  background: #f3f3f1;
  color: #1e2330;
  margin-right: 10px;
  border-radius: 10px;
}
.hero-10 footer .footer-container .footer-flex .buttons .btn-2 {
  color: white;
  background: #cce423;
  padding: 20px 28px;
  border-radius: 65px;
}

.hero-10 footer .footer-container .footer-flex .buttons a {
  text-decoration: none;
}

.hero-10 .disclaimer {
  background: red;
  margin-left: 100px;
}

.hero-7 {
  padding: 150px;
  background: #f3f3f1;
  display: flex;
  justify-content: center;
  height: 800px;
  width: 100%;
  margin: auto;
}

.hero-7 .container-7 .heading-7 {
  font-size: 2.5rem;
  color: #1e2330;
  letter-spacing: -0.2rem;
  line-height: 0.9;
  margin-top: -50px;
  margin-left: 2900px;
}

.hero-7 .container-7 .auto-type {
  height: 100px;
}

.hero-7 .container-7 .auto-type .typed {
  color: #2a68d5;
  margin-top: 10px;
  font-size: 3.5rem;
  letter-spacing: -0.2rem;
  display: flex;
  justify-content: center;
}

.typed:after {
  content: "";
  animation: spin 10s cubic-bezier(0.29, 1.01, 1, -0.68) infinite;
}

@keyframes spin {
  0% {
    content: "creators";
  }
  10% {
    content: "influencers";
  }
  20% {
    content: "small businesses";
  }
  30% {
    content: "models";
  }
  40% {
    content: "monetizers";
  }
  50% {
    content: "health educators";
  }
  60% {
    content: "streamers";
  }
  70% {
    content: "vloggers";
  }
  80% {
    content: "fitness coaches";
  }
  90% {
    content: "ecommerce sellers";
  }
}

.hero-7 .slider-container {
  display: flex;
  animation-name: slide;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 100%;
  overflow: hidden; /* Add this to hide any cards moving outside the container */
}

.hero-7 .card {
  width: 480px;
  height: 360px;
  margin: 20px;
  perspective: 1000px;
}

.hero-7 .card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.9s;
}

.hero-7 .card:hover .card-inner {
  transform: rotateY(180deg);
}

.hero-7 .card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 40px;
}

.hero-7 .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-7 .card-back {
  background-color: #e74c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.hero-7 .c1 {
  background-image: url(l-1.jpg);
  background-size: cover;
}

.hero-7 .c2 {
  background-image: url(l-2.jpg);
  background-size: cover;
}

.hero-7 .c3 {
  background-image: url(l-3.jpg);
  background-size: cover;
}

.hero-7 .c4 {
  background-image: url(l-4.jpg);
  background-size: cover;
}

.hero-7 .c5 {
  background-image: url(l-5.jpg);
  background-size: cover;
}

.hero-7 .c6 {
  background-image: url(l-6.jpg);
  background-size: cover;
}

.hero-7 .c7 {
  background-image: url(l-7.jpg);
  background-size: cover;
}

.hero-7 .c8 {
  background-image: url(l-8.jpg);
  background-size: cover;
}

.hero-7 .c9 {
  background-image: url(l-9.jpg);
  background-size: cover;
}

.hero-7 .c10 {
  background-image: url(l-10.jpg);
  background-size: cover;
}

.hero-7 .c11 {
  background-image: url(l-11.jpg);
  background-size: cover;
}

.hero-7 .c12 {
  background-image: url(l-12.jpg);
  background-size: cover;
}

.hero-7 .c13 {
  background-image: url(l-13.jpg);
  background-size: cover;
}

.hero-7 .b1 {
  background-image: url(l-1.jpg);
  background-size: cover;
}

.hero-7 .b2 {
  background-image: url(l-2.jpg);
  background-size: cover;
}

.hero-7 .b3 {
  background-image: url(l-3.jpg);
  background-size: cover;
}

.hero-7 .b4 {
  background-image: url(l-4.jpg);
  background-size: cover;
}

.hero-7 .b5 {
  background-image: url(l-5.jpg);
  background-size: cover;
}

.hero-7 .b6 {
  background-image: url(l-6.jpg);
  background-size: cover;
}

.hero-7 .b7 {
  background-image: url(l-7.jpg);
  background-size: cover;
}

.hero-7 .b8 {
  background-image: url(l-8.jpg);
  background-size: cover;
}

.hero-7 .b9 {
  background-image: url(l-9.jpg);
  background-size: cover;
}

.hero-7 .b10 {
  background-image: url(l-10.jpg);
  background-size: cover;
}

.hero-7 .b11 {
  background-image: url(l-11.jpg);
  background-size: cover;
}

.hero-7 .b12 {
  background-image: url(l-12.jpg);
  background-size: cover;
}

.hero-7 .b13 {
  background-image: url(l-13.jpg);
  background-size: cover;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero-8 {
  background-color: #f3f3f1;
  padding: 100px 40px;
}

.hero-8 .main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  max-height: 1000px;
}

.hero-8 .main-grid h2 {
  /* text-decoration: underline; */
  text-align: left;
  font-weight: 500;
  color: #502274;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.hero-8 .main-grid .grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}

.hero-8 .main-grid .grid-1 .subgrid-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.6fr 1fr;
  grid-column-gap: px;
  grid-row-gap: 20px;
  background-color: #e3bbe3;
  border-radius: 50px;
  max-height: 500px;
}

.hero-8 .main-grid .grid-1 .subgrid-1 .up-grid-1 img {
  height: 350px;
  width: 550px;
  /* transform: scale(1.4); */
  transition: 4s cubic-bezier(0.29, 1.01, 1, -0.68);
}

.hero-8 .main-grid .grid-1 .subgrid-1 .up-grid-1 img:hover {
  transform: scale(1.4);
  z-index: 9999;
}

.hero-8 .main-grid .grid-1 .subgrid-1 .up-grid-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.hero-8 .main-grid .grid-1 .subgrid-1 .up-grid-2 {
  display: flex;
  justify-content: center;
  align-items: start;
}

.hero-8 .main-grid .grid-1 .subgrid-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.6fr 1fr;
  grid-column-gap: px;
  grid-row-gap: 0px;
  background-color: #cce423;
  border-radius: 50px;
  max-height: 500px;
}

.hero-8 .main-grid .grid-1 .subgrid-2 .down-grid-1 img {
  height: 350px;
  width: 350px;
  /* transform: scale(1.5); */
  transition: 4s cubic-bezier(0.29, 1.01, 1, -0.68);
}

.hero-8 .main-grid .grid-1 .subgrid-2 .down-grid-1 img:hover {
  transform: scale(1.5);
  z-index: 9999;
}

.hero-8 .main-grid .grid-1 .subgrid-2 .down-grid-1 {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0;
}

.hero-8 .main-grid .grid-1 .subgrid-2 .down-grid-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero-8 .main-grid .grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.6fr 0.4fr;
  grid-column-gap: px;
  grid-row-gap: 20px;
  background-color: #780016;
  border-radius: 50px;
}

.hero-8 .main-grid .grid-2 .side-grid-1 img {
  height: 90%;
  width: 100%;
  /* transform: scale(1.7); */
  position: relative;
  top: 20%;
  left: 5%;
  transition: 4s cubic-bezier(0.29, 1.01, 1, -0.68);
  animation-play-state: paused;
}

.hero-8 .main-grid .grid-2 .side-grid-1 img:hover {
  transform: scale(1.7);
  z-index: 9999;
}

.hero-8 .main-grid .grid-2 .side-grid-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-8 .main-grid .grid-2 .side-grid-2 h2 {
  color: #e3bbe3;
}

.hero-9 {
  background-color: #f3f3f1;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
  padding-bottom: 0px;
  /* margin-top: -3rem; */
}

.hero-9 .heading-container .heading {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  position: relative;
  top: -50px;
  left: 1.5%;
  color: #1e2330;
}

.hero-9 .explore-btn {
  position: relative;
  bottom: 50%;
  left: 40%;
  border: none;
  font-weight: 600;
  color: #1e2330;
  background-color: #e3bbe3;
  padding: 20px 28px;
  border-radius: 65px;
}

.hero-9 .card-grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.7fr 0.3fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  /* max-height: 800px; */
}

.hero-9 .card-grid .col-1,
.col-2,
.col-3 {
  border-radius: 30px;
  background-color: white;
  max-height: 800px;
}

.hero-9 .card-grid .col-1,
.col-2,
.col-3,
p {
  padding: 0px 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 30px;
  color: gray;
}

.hero-9 .card-grid img {
  height: 350px;
  width: 550px;
  transform: scale(1.3);
  z-index: 999999;
}

.hero-9 .card-grid .col-2 .row-1 img {
  height: 350px;
  width: 500px;
  transform: scale(1.3);
  z-index: 999999;
}

.hero-last {
  background-color: #f3f3f1;
  margin-top: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 100px;
}

.hero-last .heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-last .heading-container .heading {
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.2rem;
  color: #1e2330;
}

.hero-last .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  gap: 50px;
  margin-top: 60px;
}

.hero-last .flex-container .flex-item {
  height: 75px;
  width: 300px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-last .flex-container .flex-item img {
  background-size: cover;
  height: 100px;
  width: 200px;
  transform: scale(0.4);
  /* border-radius: 10px; */
}

.hero-last .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.hero-last .img-container .im {
  margin: 150px auto;
  background: rgb(48, 60, 119);
  background: linear-gradient(
    143deg,
    rgba(48, 60, 119, 1) 0%,
    rgba(37, 34, 24, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
  transform: scale(0.8);
}

.hero-last .img-container .im img {
  position: relative;
  bottom: 108px;
  transform: scale(1.4);
  /* z-index: 999999; */

}

.hero-last .text {
  position: relative;
  bottom: 200px;
  font-weight: 600;
  color: #a7b0b2;
  letter-spacing: -0.02rem;
  z-index: 999;
  font-size: 1.3rem;
}

.hero-last .text .fuck {
  font-weight: bold;
  letter-spacing: -0.2rem;
  font-size: 4rem;
  color: #212124;
  position: relative;
  left: 100px;
}
